
body {
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    background-image: linear-gradient(to right, #676768, #cfcbcb); 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hero {
    animation-name:colorcharger ;
    animation-duration: 2s;
    height: 100vh;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(252, 250, 250);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-image: linear-gradient(to top, #f3f192, #414040); 
    
}


.section {
    padding: 60px 0;
}
.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.fade-in.visible {
    opacity: 1;
}

.dd{
    height: 34vh;
    size:5px;
}

.set{
    border-radius: 100%;
}
.btn{
    border-radius: 50px;
    box-shadow: inset;
    border: #1a1918;


}